.sidebar {
  box-shadow: 1px 0px 1px #dfe8ee;
  height: 100vh;
  padding: 0px;
  padding-bottom: 0px;
}

.show-icon {
  position: absolute;
  top: 20px;
  left: 10px;
  color: #97bf0f;
  font-size: 25px;
  z-index: 999;
}

.logo {
  font-weight: bold;
  font-size: 25px;
  padding: 15px;
  padding-top: 55px;
  padding-bottom: 0px;
}

ul {
  font-size: 15px;
  font-weight: bold;
  padding: 20px 0px;
  border-top: 1px solid #dfe8ee;
  border-bottom: 1px solid #dfe8ee;
}

ul li a {
  display: block;
  padding: 10px 20px;
  border: 0;
  color: var(--dark);
}

ul li a:hover,
ul li a:focus,
ul li a.active {
  color: white;
  background-color: #97bf0f;
}

.nav-bottom {
  position: absolute;
  bottom: 0;
  text-align: center;
}
