.sidebar {
  box-shadow: 1px 0px 1px #dfe8ee;
  height: 100vh;
  position: relative;
  padding: 0px;
  padding-bottom: 0px;
}

.show-icon {
  position: absolute;
  top: 20px;
  left: 10px;
  color: #97bf0f;
  font-size: 25px;
}

.logo {
  font-weight: bold;
  font-size: 25px;
  padding: 15px;
  padding-top: 55px;
  padding-bottom: 0px;
}

ul {
  font-size: 15px;
  font-weight: bold;
  padding: 20px 0px;
  border-top: 1px solid #dfe8ee;
  border-bottom: 1px solid #dfe8ee;
}

ul li {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul li a {
  color: var(--dark);
}

.signup-btn {
  background: #97bf0f;
  border-style: none;
  font-size: 15px;
}

.nav-bottom {
  position: absolute;
  bottom: 0;
  text-align: center;
}
