/***** Buttons *****/

a.btn-customized {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0.75rem 1.5rem;
  background: #f35b3f;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  box-shadow: none;
}

a.btn-customized:hover,
a.btn-customized:active,
a.btn-customized:focus,
a.btn-customized:active:focus,
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #cd533d;
  background: rgba(243, 91, 63, 0.7);
  border: 0;
  color: #fff;
  box-shadow: none;
}

a.btn-customized-2 {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0.75rem 1.5rem;
  background: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  color: #555;
  box-shadow: none;
}

a.btn-customized-2:hover,
a.btn-customized-2:active,
a.btn-customized-2:focus,
a.btn-customized-2:active:focus,
a.btn-customized-2.active:focus,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #ccc;
  background: rgba(255, 255, 255, 0.5);
  border: 0;
  color: #555;
  box-shadow: none;
}

a.btn-customized-3 {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0.75rem 1.5rem;
  background: #444;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  box-shadow: none;
}

a.btn-customized-3:hover,
a.btn-customized-3:active,
a.btn-customized-3:focus,
a.btn-customized-3:active:focus,
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #555;
  border: 0;
  color: #fff;
  box-shadow: none;
}

a.btn-customized i,
a.btn-customized-2 i,
a.btn-customized-3 i {
  margin-right: 5px;
}

a.btn-customized-4 {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 3px;
  padding: 0;
  background: #444;
  border: 0;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  box-shadow: none;
  text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark {
  background: #222;
}
a.btn-customized-4.btn-customized-light {
  background: #fff;
}

a.btn-customized-4.btn-customized-dark:hover,
a.btn-customized-4.btn-customized-dark:active,
a.btn-customized-4.btn-customized-dark:focus,
a.btn-customized-4.btn-customized-dark:active:focus,
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #555;
  border: 0;
  color: #fff;
  box-shadow: none;
}

a.btn-customized-4.btn-customized-light:hover,
a.btn-customized-4.btn-customized-light:active,
a.btn-customized-4.btn-customized-light:focus,
a.btn-customized-4.btn-customized-light:active:focus,
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  outline: 0;
  background: #555;
  border: 0;
  color: #fff;
  box-shadow: none;
}
